/* 
 * Animations
 */
.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 200ms;
  -webkit-animation: fadeIn 0.5s ease-in 200ms;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 50%, 0);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 50%, 0);
  }
}

/* 
 * Mixins
 */
@mixin underline-animation($thickness: 2px, $color: white, $bottom: -2px) {
  position: relative;

  &::after {
    position: absolute;
    bottom: $bottom;
    left: 0;
    right: 0;
    width: 0%;
    background-color: $color;
    content: "";
    color: transparent;
    height: $thickness;
    transition: all 0.3s ease-in;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  @media (hover: none) {
    &:hover {
      &::after {
        width: 0%;
      }
    }
  }
}

@mixin reverse-underline-animation($thickness: 2px, $color: white, $bottom: -2px) {
  position: relative;

  &::after {
    position: absolute;
    bottom: $bottom;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $color;
    content: "";
    color: transparent;
    height: $thickness;
    transition: transform 0.2s ease-in;
    transform: scaleX(0);
    transform-origin: right;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  @media (hover: none) {
    &:hover {
      &::after {
        width: 0%;
      }
    }
  }
}
