/* 
 * Color variables
 */
$primary-color: #1f2f5f;
$secondary-color: #2e488e;
$dark-yellow: rgb(210, 167, 58);
$bright-yellow: #ffd54f;
$dark: #1e1e1e;
$dark-and-darker: #0e0e0e;
$light-dark: #1f1f1f;
$light-light-blue: #d3f0f9;
$light-blue: #99def4;
$sky-blue: #5db5dbd8;
$mid-blue: #539fd8;
$dark-blue: rgb(22, 76, 118);
$shadow: #dfdfdf;
$light_purple: rgb(173, 184, 236);
