@use "../global/color-vars.scss" as colors;
@use "../global/animations" as anim;

/* 
 * Page specific styles
 */
.about-background-container {
  background: linear-gradient(
    135deg,
    colors.$bright-yellow 0%,
    colors.$light-light-blue 1%,
    colors.$light-blue 95%,
    colors.$sky-blue 100%
  );
}

.about-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: max(90vh, 30rem);

  color: black;
}

.about-page-header {
  color: inherit;
  font-family: Lato-Black, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  text-align: left;
  margin-top: max(1rem, 3vh);

  @media (max-width: 768px) {
    margin-top: max(1.5rem, 8vh);
    font-size: 1.8rem;
  }

  @media (max-height: 768px) {
    margin-top: max(1.5rem, 8vh);
  }

  @media (max-width: 375px) {
    font-size: 1.6rem;
  }
}

.about-page-text {
  white-space: pre-line;
  color: inherit;
  text-align: left;
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  max-width: 60ch;
  padding: 2rem;
  margin-bottom: max(1rem, 3vh);

  @media (max-width: 1024px) {
    font-size: 1.8rem;
  }

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }

  @media (max-width: 375px) {
    font-size: 1.1rem;
  }
}
