@use "../global/color-vars.scss" as colors;

/* 
 * Page specific styles
 */
.blog-container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  align-items: center;
  justify-items: center;
  background-color: colors.$dark-yellow;
  min-height: max(90vh, 30rem);

  @media (max-height: 300px) {
    display: none;
  }

  @media (max-width: 768px) {
    min-height: auto;
    height: 90vh;
  }
}

.blog-title {
  color: black;
  font-weight: 600;
  text-align: center;
  font-size: max(2rem, 5vmin);
  padding: 2.2rem;

  @media (max-width: 564px) {
    font-size: 2.5rem;
  }
}

.blog-posts-container {
  display: grid;
}

.blog-posts {
  background-color: white;
  padding: 1rem;
}
