/* 
 * Imports
 */
@use "../lib/typed.scss" as typed;
@use "../lib/typed-config.scss" as typed_config;
@use "../global/color-vars.scss" as colors;
@use "../global/animations.scss" as anim;

/* 
 * General
 */
.active {
  color: goldenrod !important;
}

.cursive {
  font-family: Monarda, Arial, Helvetica, sans-serif;
}

/* 
 * Page specific styles
 */

// Hero section
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: DMSerifDisplay, Arial, Helvetica, sans-serif;
  background-color: colors.$dark-yellow;
  min-height: max(90vh, 30rem);

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  @media (max-width: 768px) {
    min-height: auto;
    height: 90vh;
  }

  @media (max-width: 425px) {
    height: 50vh;
  }
}

.hero-text {
  color: colors.$dark-and-darker;
  position: relative;
  font-weight: 600;
  text-align: center;
  font-size: max(3.7rem, 10vmin);
  padding: 2.2rem;

  > span {
    position: relative;
    z-index: 3;
  }

  @media (max-width: 564px) {
    font-size: 3rem;
  }

  @media (max-width: 425px) {
    margin-bottom: 1rem;
    font-size: 2.25rem;
  }

  @media (max-width: 300px) {
    font-size: 1.5rem;
  }
}

.hero-name {
  @extend .cursive;
  font-size: 110%;
}

.toggle-container {
  display: inline-block;
  position: relative;
}

.type-wrapper {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: auto;

  > input,
  > .placeholder {
    display: block;
    position: absolute;
    top: -50%;
    left: -20%;
    font-family: SourceCodePro;
    z-index: 1;
    font-size: max(2rem, 3vmin);
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;

    @media (max-width: 564px) {
      font-size: 1.2rem;
      top: -55%;
    }

    @media (max-width: 425px) {
      font-size: 1rem;
      top: -60%;
    }

    @media (max-width: 300px) {
      display: none;
    }
  }

  > .placeholder {
    @include typed.typed(
      "(ﾉ◕ヮ◕)ﾉ・ﾟ✧",
      "༼ つ ◕_◕ ༽つ",
      "ʕ •`ᴥ•´ʔ",
      "ฅ(^•ܫ•^)ฅ",
      "ʕ•ᴥ•ʔ",
      "ʕ•~•ʔ ✧",
      "|(• ◡•)|",
      "(•ᴥ• )",
      "¯\\_(ツ)_/¯",
      "(っ^з^)♬",
      "\\_ツ_/",
      "◖ᵔᴥᵔ◗ ♪",
      "◕_◕",
      "( ͡° ͜ʖ ͡°)",
      "つ ◕_◕ ༽つ",
      "._.)/\\(._.",
      "ʕ•ᴥ•ʔ",
      "ʕ •`ᴥ•´ʔ",
      "(｡◕‿◕｡)",
      "(/◕ヮ◕)/",
      "٩◔̯-◔۶",
      "V•ᴥ•V",
      "\\(^-^)/",
      "(•̀ᴗ•́)",
      "\\(ᵔᵕᵔ)/",
      "ʕ •́؈•̀)",
      typed_config.$speeds,
      typed_config.$options
    );
  }

  > input {
    &:focus,
    &:active {
      + .placeholder {
        display: none;
      }
    }
  }
}

// Gradient
.gradient-container {
  background: linear-gradient(
    180deg,
    colors.$dark-yellow 3%,
    colors.$secondary-color 44%,
    colors.$primary-color 70%,
    colors.$dark 100%
  );
}

// About section
.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // by default
  }
}

.about-header {
  // align left by default
  align-self: flex-start;
  background-color: colors.$light-dark;
  color: white;
  font-family: Lato-Black, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-top: 10vh;
  margin-bottom: max(2rem, 3vh);
  padding: 1rem 4rem;

  > a {
    @include anim.underline-animation(5px, white, -3px, 250ms, 1s);
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }

  @media (max-width: 425px) {
    margin-top: 0;
  }

  @media (max-width: 375px) {
    font-size: 1.3rem;
    padding: 1rem 3rem;
  }
}

.about-header-right {
  @extend .about-header;
  align-self: flex-end;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

@mixin about-text($align-self) {
  align-self: $align-self;
  white-space: pre-line;
  background-color: colors.$light-dark;
  color: white;
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  max-width: 70ch;
  padding: 2rem;
  margin-bottom: max(2rem, 3vh);
  line-height: 1.6;
  text-wrap: pretty;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media (max-width: 375px) {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.about-text {
  @include about-text(flex-start);

  & {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  @media (max-width: 904px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.about-text-right {
  @include about-text(flex-end);

  & {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  @media (max-width: 904px) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
