/* 
 * Imports
 */
@import "../lib/typed.scss";
@import "../lib/typed-config.scss";
@import "../global/color-vars.scss";
@import "../global/animations.scss";

/* 
 * General
 */
.active {
  color: goldenrod !important;
}

.cursive {
  font-family: Monarda, Arial, Helvetica, sans-serif;
}

/* 
 * Page specific styles
 */
// Hero section
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: DMSerifDisplay, Arial, Helvetica, sans-serif;
  background-color: $dark-yellow;
  min-height: max(90vh, 30rem);

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  @media (max-width: 768px) {
    min-height: auto;
    height: 90vh;
  }

  @media (max-width: 425px) {
    height: 50vh;
  }
}

.hero-text {
  color: $dark-and-darker;
  position: relative;
  font-weight: 600;
  text-align: center;
  font-size: max(3.7rem, 10vmin);
  padding: 2.2rem;

  > span {
    position: relative;
    z-index: 3;
  }

  @media (hover: none) {
    &:hover {
      color: inherit;
    }
  }

  @media (max-width: 564px) {
    font-size: 2.5rem;
  }

  @media (max-width: 425px) {
    margin-bottom: 1rem;
  }

  @media (max-width: 320px) {
    font-size: 2rem;
  }
}

.hero-name {
  @extend .cursive;
  font-size: 110%;
}

.type-wrapper {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: auto;

  > input,
  > .placeholder {
    display: block;
    position: absolute;
    top: 0%;
    left: -30%;
    font-family: SourceCodePro;
    z-index: 1;
    font-size: max(2rem, 3vmin);
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;

    @media (max-width: 900px) {
      display: none;
    }
  }

  > .placeholder {
    @include typed(
      "(ﾉ◕ヮ◕)ﾉ・ﾟ✧",
      "|(• ◡•)|",
      "༼ つ◕_◕ ༽つ",
      "(Ծ‸ Ծ)",
      "(•ᴥ• )",
      "\\(^-^)/",
      "(っ^з^)♬",
      "(•̀ᴗ•́)",
      "\\_ツ_/",
      "◖ᵔᴥᵔ◗ ♪",
      "◕_◕",
      "( ͡° ͜ʖ ͡°)",
      "._.)/\\(._.",
      "ʕ•ᴥ•ʔ",
      "ʕ •`ᴥ•´ʔ",
      "(｡◕‿◕｡)",
      "٩◔̯-◔۶",
      "V•ᴥ•V",
      "{•̃_•̃}",
      "\\(ᵔᵕᵔ)/",
      "ʕ •́؈•̀ ₎",
      $speeds,
      $options
    );
  }

  > input {
    &:focus,
    &:active {
      + .placeholder {
        display: none;
      }
    }
  }
}

// Gradient
.gradient-container {
  background: linear-gradient(180deg, $dark-yellow 3%, $secondary-color 44%, $primary-color 70%, $dark 100%);
}

// About section
.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // by default
  }
}

.about-header {
  // align left by default
  align-self: flex-start;
  background-color: $dark;
  color: white;
  font-family: Lato-Black, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-top: 10vh;
  margin-bottom: max(2rem, 3vh);
  padding: 1rem 4rem;

  > a {
    @include underline-animation(5px, white, -3px, 250ms, 1s);
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }

  @media (max-width: 425px) {
    margin-top: 0;
  }

  @media (max-width: 375px) {
    font-size: 1.3rem;
    padding: 1rem 3rem;
  }
}

.about-text {
  // align left by default
  align-self: flex-start;
  white-space: pre-line;
  background-color: $light-dark;
  color: white;
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  max-width: 65ch;
  padding: 2rem;
  margin-bottom: max(2rem, 3vh);

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media (max-width: 375px) {
    font-size: 1rem;
  }
}

.about-header-right {
  @extend .about-header;
  align-self: flex-end;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.about-text-right {
  @extend .about-text;
  align-self: flex-end;
}

// Contact section
.link-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  text-align: center;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    height: 80vh;
  }
}

.link-header {
  display: block;
  font-family: PixelifySans, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: max(3rem, 7vh);
  margin-bottom: max(0.8rem, 3vh);

  @media (max-width: 768px) {
    font-size: 2.3rem;
  }

  @media (max-width: 375px) {
    font-size: 1.8rem;
  }
}

.link-item {
  display: block;
  background-color: white;
  border-radius: 2rem;
  width: 70%;
  text-align: center;
  margin: 1.1rem auto;
  padding: 1rem 2rem;
  transition: all 0.25s;

  &:last-child {
    margin-bottom: 2rem;
  }

  &:hover {
    background-color: $dark;
    color: white;
    transition: all 0s;
  }

  @media (hover: none) {
    &:hover {
      color: inherit;
      background-color: white;
    }
  }

  @media (max-width: 1024px) {
    margin: 1.1rem auto;
    padding: 0.5rem 1rem;
  }

  @media (max-width: 768px) {
    margin: 1.1rem auto;
    padding: 0.5rem 0.8rem;
  }

  @media (max-width: 375px) {
    padding: 0.3rem 0.5rem;

    &:last-child {
      margin-bottom: 1rem;
    }
  }
}

.link-text {
  font-family: PixelifySans, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;

  @media (max-width: 375px) {
    font-size: 1rem;
  }
}
