@use "../global/color-vars.scss" as colors;
@use "../global/animations.scss" as anim;

/* 
 * Page specific styles
 */
.projects-background-container {
  background: linear-gradient(135deg, colors.$mid-blue 0%, colors.$dark-blue 100%);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: DMSerifDisplay, Arial, Helvetica, sans-serif;
  min-height: max(90vh, 30rem);

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  @media (max-width: 768px) {
    min-height: auto;
    height: 90vh;
  }
}

.projects-text {
  color: colors.$dark-text;
  position: relative;
  font-weight: 600;
  text-align: center;
  font-size: 4rem;
  padding: 2.2rem;
  pointer-events: none;

  &:hover {
    .other-text {
      opacity: 20%;
      transition: opacity 0.3s;
    }

    .github-text {
      color: rgb(173, 184, 236);
    }
  }

  .other-text {
    transition: opacity 0.5s;

    // background: -webkit-linear-gradient(
    //   45deg,
    //   #c5ebff 16.666%,
    //   #b8e4fb 16.666%,
    //   #c9e7f8 33.333%,
    //   #b6e4f7 33.333%,
    //   #c4e6f8 50%,
    //   #c6e3ff 50%,
    //   #c5ebff 66.666%,
    //   #c5ebff 66.666%,
    //   #b7e4fc 80.333%,
    //   #c5ebff 80.333%
    // );
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }

  .github-text {
    display: inline;
    position: relative;
    color: colors.$light-light-blue;
    font-family: Monarda, Arial, Helvetica, sans-serif;
    font-size: 120%;
    transition: color 300ms;
    pointer-events: auto;
    @include anim.reverse-underline-animation(4px, colors.$light_purple, 0.7rem);
  }

  .new-tab-icon {
    position: absolute;
    top: 3rem;
    font-size: 1.5rem;
  }

  @media (max-width: 1024px) {
    font-size: 3rem;

    .new-tab-icon {
      top: 2rem;
    }
  }

  @media (max-width: 600px) {
    font-size: 2.5rem;

    .new-tab-icon {
      top: 1.7rem;
      font-size: 1rem;
    }
  }

  @media (hover: none) {
    &:hover {
      .other-text {
        transition: none;
        opacity: 1;
      }

      .github-text {
        transition: none;
        color: inherit;
      }
    }
  }
}
