@import "../global/color-vars.scss";
@import "../global/animations.scss";

/* 
 * Page specific styles
 */
.projects-background-container {
  background: linear-gradient(135deg, $mid-blue 0%, $dark-blue 100%);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: DMSerifDisplay, Arial, Helvetica, sans-serif;
  min-height: max(90vh, 30rem);

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  @media (max-width: 768px) {
    min-height: auto;
    height: 90vh;
  }
}

.projects-text {
  color: black;
  position: relative;
  font-weight: 600;
  text-align: center;
  font-size: 4rem;
  padding: 2.2rem;
  pointer-events: none;

  &:hover {
    .other-text {
      opacity: 20%;
    }

    .github-text {
      color: rgb(173, 184, 236);
    }
  }

  .other-text {
    display: inline;
    transition: opacity 1s;
  }

  .github-text {
    display: inline;
    position: relative;
    font-family: Monarda, Arial, Helvetica, sans-serif;
    font-size: 120%;
    transition: color 300ms;
    pointer-events: auto;
    @include reverse-underline-animation(4px, $light_purple, 0.7rem);
  }

  .new-tab-icon {
    position: absolute;
    top: 3rem;
    font-size: 1.5rem;
  }

  @media (max-width: 1024px) {
    font-size: 3rem;

    .new-tab-icon {
      top: 2rem;
    }
  }

  @media (max-width: 600px) {
    font-size: 2.5rem;

    .new-tab-icon {
      top: 1.7rem;
      font-size: 1rem;
    }
  }

  @media (hover: none) {
    &:hover {
      transition: none;

      .other-text {
        opacity: 1;
      }

      .github-text {
        color: inherit;
      }
    }
  }
}
