/* 
 * Color variables
 */
$primary-color: #1f2f5f;
$secondary-color: #2e488e;
$dark-yellow: rgb(210, 167, 58);
$bright-yellow: #ffd54f;
$dark: #1e1e1e;
$light-dark: #1f1f1f;
$light-blue: #c8e8f3;
$sky-blue: #96d1ea;
