:root {
  --sysfont: --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Fonts */
@font-face {
  font-family: "Monarda";
  src: url("../../static/fonts/Monarda.ttf");
}

@font-face {
  font-family: "PixelifySans";
  src: url("../../static/fonts/PixelifySans-Regular.ttf");
}

@font-face {
  font-family: "DMSerifDisplay";
  src: url("../../static/fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("../../static/fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../../static/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../../static/fonts/SourceCodePro-Regular.ttf");
}

/* Global CSS settings */
html {
  // scroll-behavior: smooth;
  cursor: url("https://cdn.custom-cursor.com/db/cursor/32/Bongo_Cat_Cursor.png"), default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--sysfont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
.clickable {
  cursor: url("https://cdn.custom-cursor.com/db/pointer/32/Bongo_Cat_Pointer.png"), default;
}

a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
