$speeds: (
  type: 0.08,
  pause-typed: 7,
  delete: 0.03,
  pause-deleted: 1
);

$options: (
  name: "hero-text",
  caret: true,
  caret-speed: 1.2,
  caret-width: 3px,
  caret-color: currentColor,
  caret-space: 3px,
  delay: 1.5,
  iterations: infinite
);
